@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body
{
    max-width
    :960px
;
    margin-left: auto
;
    margin-right: auto
;
}
h1, h2, p
{
    margin-top:
            0
;
}*
 {
     font-family: 'Open Sans', cursive
 ;
 }
h1, h2
{
    font-family: 'Pacifico', cursive
;
}
/* HEADER */
header
{
    background-color: darkblue;
;
    padding-top: 14px
;
}
header
>h1
{
    padding-left: 10px
;
}
/* MAIN */
main
{
    background-color: orange;
;
    min-height: 300px
;
    padding: 15px
;
}
/* FOOTER */
footer
{
    background-color: gray;
;
    padding:
            5px 0 5px 10px
;
}
/* NAVIGATION */
nav ul
{
    list-style-type: none
;
    margin:
            0
;
    padding:
            0
;
    overflow: hidden
;
    background-color: #333
;
}
nav li
{
    float: left
;
}
nav li a
{
    display: block
;
    color: white
;
    text-align: center
;
    padding: 14px 16px
;
    text-decoration: none
;
}
nav li a
:hover
{
    background-color: #111
;
}

